* {
    font-family: 'Bungee', cursive;
}
body {
    margin: 0 auto;
    background-image: url('https://i.imgur.com/DWDpLtp.jpg');
    background-size: cover;
}
h1 {
    font-size: 40px;
}
h2 {
    color: white;
    font-size: 28px;
}

table {
    margin: 15px auto;
}

button {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
    margin: 15px;
    font-size: 18px;
}

button:hover {
    transform: scale(1.25);
    transition: .25s; 
}

img {
    border-radius: 30%;
    height: 250px;
    width: 250px;
    margin: 7px;
}

tr {
    width: 100px;
}


#cashIn {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#display {
    border: 5px solid black;
}

#display td {
    border: 2px solid tomato;
    background-color: black;
    color: white;
    width: 200px;
    height: 65px;
    display: 0 auto;
    border-radius: 10%;
    text-align: center;
    font-size: 150%;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

#gameTitle {
    width: 400px;
    height: 250px;
}

#prompt {
    margin: auto;
    text-align: center;
    color: white;
}

#prompt {
    color: white;
}

#slots td {
    background-color: white;
    height: 250px;
    width: 250px;
    border: 5px solid dodgerblue;
    border-radius: 15%;
}

#spin {
    width: 130px;
    height: 130px;
    color: white;
    background-color: tomato;
    border: 3px solid white;
    font-size: 25px;
}

#top {
    text-align: center;
}

#winCond {
    margin: 0 25px 0 0;
}

.buyInMsg {
    color: white;
    margin: 0 0 0 25px;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.cashBuyIn {
    border-radius: 0;
    height: 125px;
    width: 300px;
    margin: 20px;
    cursor: pointer;
}

.cashBuyIn:hover {
    transform: scale(1.1);
    transition: .25s; 
}

.container1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15 px;
}

#moneyCol {
    display: flex;
    flex-direction: column;
}

.userConsole {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

#ftw {
    height: 35px;
    width: 35px;
    background-color: gray;
}



















